<!--! La etiqueta img se encarga de llamar las funciones del input, el input queda oculto -->
<div class="m-5 d-flex justify-content-center">
  <img data-bs-toggle="tooltip" data-bs-title="Cambiar imagen" class="image" [src]="croppedResult" alt="..." (click)="call()">
  <input #input type="file" accept="images/*" (change)="onSelectedFile($event)" style="display: none;">
</div>


<!--! Escondemos este contenedor -->
<div #container class="m-5 d-flex justify-content-center _contenedor">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <div style="display: flex; justify-content:end; margin: 8px">
        <button class="btn btn-danger" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>

      <section *ngIf="imageUrl">

        <angular-cropper #angularCropper [cropperOptions]="config" [imageUrl]="imageUrl"><canvas #canvas></canvas></angular-cropper>

        <div class="mt-2" style="display: flex; justify-content:space-around;">
          <button class="btn btn-primary" (click)="getCroppedImage()"><i class="fa fa-scissors" aria-hidden="true"></i></button>
          <button class="btn btn-primary" (click)="rotateLeft()"><i class="fa fa-undo" aria-hidden="true"></i></button>
          <button class="btn btn-primary" (click)="zoomIn()"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
          <button class="btn btn-primary" (click)="zoomOut()"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
          <button class="btn btn-primary" (click)="rotateRight()"><i class="fa fa-repeat" aria-hidden="true"></i></button>
        </div>
      </section>
    </div>
  </div>
</div>
