._container{
  margin: 60px auto 0 auto;
  width: 100%;
  max-width: 800px;
}

#file{
  display: none;
}

.button{
  display: block;
  padding: 10px 21px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #3991A9;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 3px solid #237085;
  font-family: sans-serif;
  text-align: center;
}

.button:hover{
  transition: all .4s;
  background-color: #237085;
}
