<!--<div class="img-container">
  <img #image [src]="imageSource" crossorigin>
</div>
<img [src]="imageDestination" class="img-preview">
<button id="cropper">Crop</button>

<div class="_container">
  <form action="">
    <input #file type="file" name="archivo" id="file">
    <input type="button" value="Subir archivo" class="button" onclick="document.getElementById('file').click()">
  </form>
</div>
-->
<div class="m-5 d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <section>
        <input type="file" accept="images/*" (change)="onSelectedFile($event)">
      </section>
      <section *ngIf="imageUrl">
        <canvas #canvas></canvas>
        <img #image [src]="imageUrl" alt="...">
        <!--<angular-cropper #angularCropper [cropperOptions]="config" [imageUrl]="imageUrl"><canvas #canvas></canvas></angular-cropper>-->

        <div class="mt-2">
          <button class="btn btn-primary" (click)="getCroppedImage()">Recortar</button>
          <button class="btn btn-primary" (click)="rotateLeft()">Rotar izq</button>
          <button class="btn btn-primary" (click)="zoomIn()">Zoom in</button>
          <button class="btn btn-primary" (click)="zoomOut()">Zoom out</button>
          <button class="btn btn-primary" (click)="rotateRight()">Rotar der</button>
        </div>
      </section>
      <section *ngIf="croppedResult">
        <img [src]="croppedResult" alt="...">
      </section>
    </div>
  </div>
</div>
