<div class="ctn">
  <div class="row">
    <div class="col">
      <h1>How can we help?</h1>
      <h4>Please select a topic below related to  your inquiry. If you don't find what you need, fill our contact form</h4>
      <form>
        <div>
          <label for="topic-1">Topic 1</label>
          <select name="topic-1" id="topic-1">
            <option value="don't-know">Don't Know</option>
            <option value="option-1">Option one</option>
            <option value="option-2">Option two</option>
            <option value="option-3">Option three</option>
          </select>
        </div>

        <div>
          <label for="topic-2">Topic 2</label>
          <select name="topic-2" id="topic-2">
            <option value="don't-know">Don't Know</option>
            <option value="option-1">Option one</option>
            <option value="option-2">Option two</option>
            <option value="option-3">Option three</option>
          </select>
        </div>

        <div>
          <label for="topic-3">Topic 3</label>
          <select name="topic-3" id="topic-3">
            <option value="don't-know">Don't Know</option>
            <option value="option-1">Option one</option>
            <option value="option-2">Option two</option>
            <option value="option-3">Option three</option>
          </select>
        </div>

      </form>
    </div>
    <div class="col form">
      <app-form></app-form>
    </div>
  </div>
</div>
