<div class="relative">
  <img class="image" src="assets/img/profile.jpg" alt="Profile">
  <div #popup class="send-message">
    <img src="assets/img/comments.png" alt="asd">
    <h2>Your Message:</h2>
    <label for="exampleFormControlTextarea1" class="form-label">Concerns, doubts or complaints:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button #closePopup type="button">OK</button>
  </div>
  <div #container class="container text-center">
    <div class="row name">
      <h4 class="name-text">Name</h4>
    </div>
    <div class="row">
      <h5>Profession</h5>
    </div>
    <div class="row">
      <p><i class="fa fa-map-marker" aria-hidden="true"></i>Locate</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <h3>123</h3>
        </div>
        <div class="row">
          <p>Followers</p>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h3>123</h3>
        </div>
        <div class="row">
          <p>Following</p>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h3>123</h3>
        </div>
        <div class="row">
          <p>Articles</p>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h3>123</h3>
        </div>
        <div class="row">
          <p>Works</p>
        </div>
      </div>
    </div>

    <section class="mb-4 d-flex justify-content-around">
      <!-- Facebook -->
      <a aria-label="none" class="btn btn-floating m-1 rounded-circle" href="#!" role="button">
        <i class="fa fa-facebook-official"></i>
      </a>

      <!-- Twitter -->
      <a aria-label="none" class="btn btn-floating m-1 rounded-circle" href="#!" role="button">
        <i class="fa fa-twitter">
        </i>
      </a>

      <!-- Link -->
      <a aria-label="none" class="btn btn-floating m-1 rounded-circle" href="#!" role="button">
        <i class="fa fa-link">
        </i>
      </a>

      <!-- Instagram -->
      <a aria-label="none" class="btn btn-floating m-1 rounded-circle" href="#!" role="button"><i
          class="fa fa-instagram"></i></a>

      <!-- Linkedin -->
      <a aria-label="none" class="btn btn-floating m-1 rounded-circle" href="#!" role="button"><i
          class="fa fa-linkedin"></i></a>

      <!-- Github -->
      <a aria-label="none" class="btn btn-floating m-1 rounded-circle" href="#!" role="button"><i
          class="fa fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <div class="row mb-4">
      <div class="col">
        <button #message class="btn-common" type="button">Message</button>
      </div>
      <div class="col">
        <button #follow class="btn-common" type="button">Follow</button>
      </div>
    </div>

  </div>

</div>
