<body>
  <div class="row">
    <app-navbar></app-navbar>
  </div>

  <div class="row home">
    <app-home data-aos="fade-up" data-aos-duration="1500" id="home"></app-home>
  </div>

  <div class="row">
    <app-about-me id="about"></app-about-me>
  </div>

  <div class="row">
    <app-works id="works"></app-works>
  </div>

  <div class="row">
    <app-collaborators id="team"></app-collaborators>
  </div>

  <section id="portfolio">Portfolio</section>
  <div class="row" id="contact"><app-contact></app-contact></div>
  <app-form></app-form>
</body>
