<!-- Label to bottom!
  <form class="go-bottom">
  <h2>To Bottom</h2>
  <div>
    <input id="name" name="name" type="text" required>
    <label for="name">Your Name</label>
  </div>
  <div>
    <input id="phone" name="phone" type="tel" required>
    <label for="phone">Primary Phone</label>
  </div>
  <div>
    <textarea id="message" name="phone" required></textarea>
    <label for="message">Message</label>
  </div>
</form>
-->
<form class="go-right">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-md-1 mt-3">
    <div class="col">
      <input id="name" name="name" type="text" required>
      <label class="input" for="name">Name</label>
    </div>
    <div class="col">
        <input id="phone" name="phone" type="tel" required>
        <label class="input" for="phone">Last Name</label>
    </div>
    <div class="col" style="width: 100%;">
      <input id="email" name="email" type="text" required>
      <label class="input" for="email">Email</label>
    </div>
  </div>


  <div class="col">
    <textarea id="message" name="phone" required></textarea>
    <label for="message">Message</label>
  </div>

  <button class="button" type="button">Send</button>
</form>
