<div class="back"></div>
<div>
  <div class="row">
    <h2>Hi, I’m Robert. Nice to meet you.</h2>
    <h5>Since beginning my journey as a freelance designer over 11 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.</h5>
  </div>
  <div id="container" data-aos="fade-left">
    <div class="col-container row row-cols-1 row-cols-lg-3">

      <div class="col card-1 justify-content-center align-items-center">
        <div class="img-container">
          <img class="round" src="assets/img/front-end.png" title="Frontend">
        </div>
        <h4>Frontend Developer</h4>
        <p>I enjoy designing from zero. I mold myself to any requirement by the employer. Designing with love</p>
        <h4>Languages I use:</h4>
        <p>Javascript, Typescript, CSS, HTML5</p>
        <h4>Dev Tools:</h4>
        <p>Bootstrap</p>
        <p>Material UI</p>
        <p>Prime NG</p>
        <p>Angular CLI</p>
        <p>Visual Studio Code</p>
      </div>

      <div class="col card-2 justify-content-center align-items-center">
        <div class="img-container">
          <img class="round" src="assets/img/backend.png" alt="Backend">
        </div>
        <h4>Backend Developer</h4>
        <p>My biggest strength is the backend design. What is challenging is most attractive. From calls to retrieve data from a database, to connections with other API's.</p>
        <h4>Languages I use:</h4>
        <p>Javascript, Typescript, MySql, SQL, Python</p>
        <h4>Dev Tools</h4>
        <p>XAMPP</p>
        <p>Node JS</p>
        <p>Nest JS</p>
        <p>MySql Workbench</p>
        <p>PgAdmin 4</p>
        <p>Postman & others</p>
      </div>

      <div class="col card-3 justify-content-center align-items-center">
        <div class="img-container">
          <img class="round" src="assets/img/android.png" alt="Android">
        </div>
        <h4>Android Developer</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis enim, assumenda numquam quae neque quisquam esse. Saepe vitae molestias minus doloribus aliquam praesentium, assumenda quia numquam culpa odio corrupti qui?</p>
        <h4>Languages</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officia asperiores amet nobis distinctio consequuntur labore quos dignissimos. Perferendis dolorum voluptate neque eos eum excepturi expedita cum reiciendis soluta porro.</p>
      </div>
    </div>
  </div>
</div>
